{% extends 'user/basic.html' %}
 {% block title %} Dashboard {% endblock title %}

{% block body %}
{% load static %}


<section id="main-content">
  <section class="wrapper">
    <!--overview start-->
    

    <div class="row">
      <div class="col-lg-9 col-md-9col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
          
          <div class="count">Job Title</div>
          <div class="title">Job Description</div>
          <button>Schedule Interview</button>
        </div>
        <!--/.info-box-->
      </div>
      <!--/.col-->

     
      <!--/.col-->

    </div>
    <!--/.row-->


  </section>

</section> 



{% endblock body %}