{% extends 'user/basic.html' %}
 {% block title %}  Home {% endblock title %}

{% block body %}
{% load static %}


<section id="main-content">
  <section class="wrapper">
    

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
          
          <div class="count">10</div>
          <div class="title">Applied Job's</div>
        </div>
        <!--/.info-box-->
      </div>
      <!--/.col-->

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
          
          <div class="count">40</div>
          <div class="title">Pending Interview's</div>
        </div>
        <!--/.info-box-->
      </div>
      <!--/.col-->

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box dark-bg">
          
          <div class="count">30</div>
          <div class="title">Completed Interview's</div>
        </div>
        <!--/.info-box-->
      </div>
      <!--/.col-->

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box green-bg">
         
          <div class="count">10</div>
          <div class="title">Selected In Job's</div>
        </div>
        <!--/.info-box-->
      </div>
      <!--/.col-->

    </div>
    <!--/.row-->


  </section>

</section> 



{% endblock body %}