{% extends 'user/basic.html' %}
{% block title %} Home {% endblock title %}
{% block sidebar %} sidebar-closed {% endblock sidebar %}
{% block manu %} hidden {% endblock manu %}
{% block searchbar %} hidden {% endblock searchbar %}
{% block header %} hidden {% endblock header %}

{% block head %}
{% comment %} <link rel="stylesheet" href="{% static 'assets/css/shoelace.css' %}"> {% endcomment %}
{% endblock head %}


{% block body %}
{% load static %}

<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading">
                        Question
                    </header>
                    <div class="panel-body">
                        <form role="form" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="q">Question:</label>
                                <label for="question">{{firstQuestion.question}}</label>

                            </div>
                            <div class="form-group">
                                <label for="answer">Answer:</label>
                                <input type="hidden" class="form-control" id="questionid" name="questionid"
                                    value="{{firstQuestion.id}}">
                                <input type="hidden" class="form-control" id="qid" name="qid" value="{{qid}}">
                                <input type="hidden" class="form-control" id="sent" name="sent" value="{{sent}}">
                                <textarea name="answer" style="margin: 0px; width: 661px; height: 237px;" id="answer"
                                    readonly cols="30" rows="10">{{data}}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="remtime">Remaing Time to Answer</label>

                            </div>
                            {% if firstQuestion.status %}
                            <button class="btn btn-success" disabled>Submited</button>
                            {% if last %}
                            <button name="submit" class="btn btn-primary">Submit</button>
                            {% else %}
                            <button name="next" class="btn btn-primary">Next</button>
                            {% endif %}
                            {% else %}
                            {% if audiojs %}
                            {% else %}
                            <button class="btn btn-primary" name="giveanser">Give Answer</button>
                            {% endif %}
                            
                            {% if last %}
                            <button name="submit" class="btn btn-primary">Submit</button>
                            {% else %}
                            <button name="next" class="btn btn-primary">Next</button>
                            {% endif %}
                            {% endif %}






                        </form>
                        {% if audiojs %}
                            <button class="btn btn-primary" id="start-record-btn" title="Start Recording">Start Recognition</button>
                             <button class="btn btn-primary" id="pause-record-btn" title="Pause Recording">Pause Recognition</button>
                            <p id="recording-instructions">Press the <strong>Start Recognition</strong> button and allow access.</p>
                            {% endif %}

                            

                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading">
                        Camra
                    </header>
                    <div class="panel-body" style="width: auto; height: 420px;">
                        <img width="530px" height="400px" src="{% url 'video_feed' %}">
                        <!-- <a href="{% url 'webcam' %}">webcam</a> -->
                    </div>
                </section>

            </div>
        </div>

    </section>
</section>

{% endblock body %}

{% block script %}

<script type="text/javascript">
    function preback() { window.history.forward(); }
    setTimeout("preback()", 0);
    window.onunload = function () { null };
</script>


<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/script1.js' %}"></script>
{% endblock script %}