{% extends 'company/basic.html' %}
 {% block title %} Dashboard {% endblock title %}

{% block body %}
{% load static %}


<section id="main-content">
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="/dashboard">Dashboard</a></li>
         
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
          
          <div class="count">10</div>
          <div class="title">Job's</div>
        </div>
        <!--/.info-box-->
      </div>
      <!--/.col-->

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
          
          <div class="count">40</div>
          <div class="title">Applied Candidate's</div>
        </div>
        <!--/.info-box-->
      </div>
      <!--/.col-->

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box dark-bg">
          
          <div class="count">30</div>
          <div class="title">Completed Interview's</div>
        </div>
        <!--/.info-box-->
      </div>
      <!--/.col-->

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box green-bg">
         
          <div class="count">10</div>
          <div class="title">Panding Interview's</div>
        </div>
        <!--/.info-box-->
      </div>
      <!--/.col-->

    </div>
    <!--/.row-->


  </section>

</section> 



{% endblock body %}