{% extends 'company/basic.html' %}
 {% block title %} Jobs {% endblock title %}

{% block body %}
{% load static %}




<!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i> Jobs</h3>
            
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Dashboard</a></li>
              <li><i class="fa fa-table"></i>Jobs</li>
              
            </ol>
          </div>
            
        </div>
        <!-- page start-->



        <div class="row">
        <div class="col-lg-12">
        <a class="btn btn-primary" href="/jobs/add-job" >Add New Job</a><br>
        </div><br>
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Jobs Table
              </header>

              <table class="table table-striped table-advance table-hover">
                <tbody>
                  <tr>
                    <th><i class="icon_profile"></i> Job Title</th>
                    <th><i class="icon_calendar"></i> Discription</th>
                    <th><i class="icon_cogs"></i> Action</th>
                  </tr>
                  <tr>
                    <td>Graphic Designer</td>
                    <td>VIB is looking for enthusiastic Graphic Designer who loves challenges and is creative in his approach.</td>
                    <td>
                      <div class="btn-group">
                        <a class="btn btn-primary" href="#">Edit</a>
                        <a class="btn btn-success" href="#">Active/Deactive</a>
                        <a class="btn btn-danger" href="#">Delete</a>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->



{% endblock body %}