{% extends 'company/basic.html' %}
{% block title %} Questions {% endblock title %}

{% block body %}
{% load static %}




<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-table"></i> Questions Bank</h3>

                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Dashboard</a></li>
                    <li><i class="fa fa-table"></i>Questions</li>

                </ol>
            </div>
           
        </div>
        <!-- page start-->
<div class="row "> 
<div class="col-lg-12">
<a class="btn btn-primary" href="/questions/add-new-questions/" >Add New Question</a>
</div><br>
        
        <div class="col-lg-6">
        <label for="inputJob" class="col-lg-2 control-label">Select Job</label>
            <select class="form-control m-bot15">
                <option>All Jobs Questions</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>

        </div>
</div>

        <div class="row">
            <div class="col-lg-12">

                <section class="panel">
                    <header class="panel-heading">
                        Questions Table
                    </header>

                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                            <tr>
                                
                                <th><i class="icon_calendar"></i> Question</th>
                                <th><i class="icon_mail_alt"></i> Answer</th>
                                <th><i class="icon_cogs"></i> Action</th>
                            </tr>
                            <tr>
                                
                                <td>How would you describe yourself?</td>
                                <td>Answer about Question.</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#">Edit</a>
                                        <a class="btn btn-success" href="#">Active/Deactive</a>
                                        <a class="btn btn-danger" href="#">Delete</a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->



{% endblock body %}