{% extends 'vib/base.html' %}
{% load static %}

{% block content %}
<div id="event-box">{{request.user.count.date|date:"M d, Y "}}{{request.user.count.time|time:"H:i"}}</div>
<div>Time Left:</div>
<div id="countdown-box" class="text-center mt-3 h1">
 <div class="spinner-border" role="status"></div>
 <div id="countdown1-box" >
</div>
</div>
{% endblock content %}
{% block scripts %}
 <script>
setInterval(()=>{
 var eventBox =document.getElementById("event-box")
var countdownBox = document.getElementById("countdown-box")
var countdownBox1 = document.getElementById("countdown1-box")
var event =  eventBox.innerText
var eventDate =  new Date(event).getTime()
var now = new Date().getTime()
var diff = eventDate - now
var d =   Math.floor(diff / (1000 * 60 * 60 * 24))
var g =   Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
var i =   Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60))
var s =   Math.floor((diff % (1000 * 60)) / 1000)
 if(diff>0)
  {
  countdownBox.innerText = d +"Days: " + g + "Hours: " + i + "Minutes: " + s + "Seconds"
   }
  else{
      countdownBox.innerText = evenDate
      }

  },1000)
</script>

{% endblock scripts %}