
{% extends 'vib/basic.html' %}
{% block title %} VIB - Features {% endblock title %}  
{% block body %}
     {% load static %}


<!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg ">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Features</h2>
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>-->
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              
              <h4>Human Like Interactions</h4>

              <p>Give your candidates an engaging experience with our state of the art video interviews. The human like interaction create a warm and welcoming environment for the candidates. The audio and video interface keep the candidates interested and enable them to display their best technical abilities so that you do not miss on the good talent.
            </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <img src="{% static 'assets/img/humainterction.png' %}" width="350px" height="190px">
              
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <img src="{% static 'assets/img/scheduling.png' %}" height="200px">
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0" >
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">

              <h4>Scheduling of Interviews and Reminders</h4>
              <p>Candidates schedule for interviews. BOT let Reminders and follow-ups are taken care of while you are busy with other important tasks. You can keep track of your Interviews using a live dashboard. It improves your candidate sourcing, screening, interviewing, and applicant tracking for a streamlined hiring process. </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="500">

              <h4>Question Generation And Answer Evaluation</h4>
              <p>Eliminate the need to create and update question banks with model answers. All of it is now automatically created by the BOT across multiple technology skills. Candidate evaluations are free from any human intervention, fatigue and prejudice making them transparent and effective. Evaluations are based on consistent and accurate benchmarking system.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="600">

               <img src="{% static 'assets/img/automatic2x.png' %}" height="200px">
            </div>
          </div>
           <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
              <img src="{% static 'assets/img/feedback.png' %}" height="200px">
               </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
                <h4>Interview evaluation and initiative Report</h4>
              <p>The system ask different question and candidate answer every question in the video, the system converts its speech on the video to text, the system can create sentiment analysis on the text, the system can analyze emotion of candidate live from the video. The system generates a report for hiring candidates.</p>


            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->


{% endblock body %}