{% extends 'vib/basic.html' %}
{% block title %} AI Video Interview BoT - Home {% endblock title %}  
{% block body %}
     {% load static %}

 <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>AI VIDEO INTERVIEW BOT</h1>


          <h2>YOUR END-TO-END HIRING EXPERIENCE PLATFORM WITH VIDEO INTERVIEW SOFTWARE, CONVERSATIONAL AI, AND ASSESSMENTS.</h2>
<!--          <a href="#about" class="btn-get-started scrollto">Login</a>-->
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


<!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>REALTIME TECHNICAL VIDEO INTERVIEWS WITH AI BOT</h2>
          <p>Hiring bias can be either conscious or unconscious, but either way, it’s bad for business. Bias leads to recruiters passing over high-potential candidates for lesser hires simply because of their own partiality.</p>
        </div>



      </div>
    </section>

    <!-- End Testimonials Section -->




<!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>HOW OUR VIDEO INTERVIEW SOFTWARE WORKS</h2>
          </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <p>Digital transformation in recruiting is no longer a nice to have. Level up with the technology that will ensure you are positioning your business.</p>
            </div>
          </div>
         <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <p>We empower hiring teams to evaluate the true potential and fit of candidates, widening the talent pipeline and reducing time to hire.</p>
            </div>
          </div>
             <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <p>Our video interview platform means your organisation isn’t relying on resumes or assumptions, by standardising the interview process.</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Pricing Section -->


<!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>USING VIDEO FOR MORE PREDICTIVE INTERVIEW QUESTIONS</h2>
          <p>Reduce your time-to-hire by up to 80% and free up headspace for other HR priorities.
Here's how to improve the candidate experience, promote your organization, and predict how applicants would perform on the job.</p>
        </div>



      </div>
    </section><!-- End Testimonials Section -->


{% endblock body %}