
{% extends 'vib/basic.html' %}
{% block title %} VIB - SignUp {% endblock title %}
{% block body %}
     {% load static %}


<!-- ======= Contact Section ======= -->
  ======= Contact Section ======= -->
    <section id="contact" class="contact mt-5">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Schedule Interview</h2>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">

            </div>


          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Name" required>
              </div>
               <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Email" required>
              </div>
               <div class="form-group">
                <input type="tel" class="form-control" name="subject" id="subject" placeholder="Phone Number" required>
              </div>
               <div class="form-group">
                <input type="date" class="form-control" name="subject" id="subject" placeholder="Enter the date" required>
              </div>
              <div class="form-group">
                <input type="time" class="form-control" name="subject" id="subject" placeholder="Enter the time" required>
              </div>

              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Submit</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Sect


{% endblock body %}